<div class="container">
    <div class="row"
        *ngFor="let item of items$ | async; index as i">

        <app-item [item]="item">
            Quantity
        </app-item>

        <button *ngIf="item && item.id"
            (click)="clickRemove(i)">
            Remove from Cart
        </button>
    </div>

    <div class="total"
        *ngIf="(items$ | async)?.length">
        <p>
            Your total would be: {{ total$ | async | currency: 'USD'}} for {{ (items$ | async)?.length }} item(s).
        </p>
        <app-email-form
            (emailInput)="checkout($event)" >
        </app-email-form>
    </div>
{{items$ | async | json}}
</div>
